template(name="header")
  ul.header
    .container
      li
        a.logo(href="/")
          img(src="/images/logo.png")
      li.right
        img(src="http://lorempixel.com/36/36/people", style="border-radius: 18px; display: inline-block; float: left; margin-right: 8px;")
        span(style="line-height: 36px;")
          | Alexandra Popescu
          i.mdi.mdi-chevron-down
      li.right
        input(type="text", placeholder="Search for items...")
