template(name="header")
  ul.header
    .container
      li
        a.logo(href="/")
          img(src="/images/logo.png")
      li.right
        span(style="line-height: 36px;")
          | Adrian Mateoaea
          i.mdi.mdi-chevron-down
