template(name="header")
  ul.header
    .container
      li
        a.logo(href="/")
          img(src="/images/logo.png")
      li.right
        span(style="line-height: 36px;")
          | Alexandra Popescu
          i.mdi.mdi-chevron-down
      li.right
        input(type="text", placeholder="Search for items...")
