table
  width 100%
  margin 100px 0
  background white
  border 1px solid #d4d4d4
  border-radius 4px
  text-align left
  border-spacing 0
  overflow hidden
  a
    text-decoration none
    color #444444
  th
    padding 15px 20px
    background rgb(250,250,250)
    border-bottom 1px solid rgb(235,235,235)
    border-right 1px solid rgb(235,235,235)
    &:last-child
      border-right none
  td
    padding 25px 20px
  td
    border-bottom 1px solid rgb(245,245,245)
  tr
    cursor default
  tr:last-child td
    border-bottom none
  tr:not(:first-child):hover
    background rgb(250,250,250)

span.content
  max-width 200px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  display inline-block

.table-button
  font-size 1.2em
  color black
