*
  margin 0
  padding 0
  box-sizing border-box

html, body
  background #eff0f1
  font-family 'Open Sans'
  font-size 0.95em
  font-weight 500
  color #5b5b5b

.container
  width 800px
  margin 0 auto

.label
  padding 4px 10px
  border-radius 4px
  font-size 0.8em
  font-weight 700
  color white
  &-valid
    background #9cc9a9
  &-pending
    background #f1aa7a
