*
  margin 0
  padding 0
  box-sizing border-box

html, body
  background #eff0f1
  font-family 'Open Sans'
  font-size 0.95em
  font-weight 500
  color #5b5b5b

a
  color #96d46c

.container
  width 900px
  margin 0 auto
  @media(max-width 900px)
    width auto
    margin 0 2%

.label
  padding 4px 10px
  border-radius 4px
  font-size 0.8em
  font-weight 700
  color white
  text-decoration none
  display inline-block
  &-valid
    background #96d46c
  &-pending
    background #f1aa7a
  &-tag
    background white
    border 1px solid #e0e1e4
    color #7a7e81

.page
  margin 100px 0
  background white
  border 1px solid #d4d4d4
  border-radius 4px
  textarea
    padding 15px 30px
    border none
    border-radius 0
    background rgb(250,250,250)
    border-top 1px solid rgb(240,240,240)
    border-bottom 1px solid rgb(240,240,240)

.inner
  margin 25px 30px

input, button, textarea
  -webkit-appearance none
