template(name="edit")
  +header
  .container
    .page
      .inner
        h3
          | {{title}}
          +if validated
            span.label.label-valid(style="float: right;")
              i.mdi.mdi-check
              | Validated
          +else
            span.label.label-pending(style="float: right;")
              i.mdi.mdi-clock
              | Pending
        h4 {{formatDate createdAt}}
      textarea(style="margin-bottom: 25px; resize: none; height: 300px; width: 100%; display: block; outline: none; font-size: 1em; line-height: 1.5em;") {{translation}}
      .inner
        span.label.label-tag
          a.play(href="#", style="margin-right: 10px;")
            i.mdi.mdi-play
          span 00:00
          | / 
          span 00:00
        audio(controls)
          source(src="{{audio}}", type="audio/wav")
        a.validate.label.label-valid(href="#", style="float: right;") Mark as valid
