//- div(ng-include='"components/navbar/navbar.html"')

#nav
  input.search(type="text", placeholder="Search...", ng-model="search.$")

ul#translations(ng-repeat='i in translations | filter: search')
  li(ng-init="i.translationTemp = i.translation", ng-class="{ 'validated': i.validated }")
    span.header
      a(href)
        i.fa.fa-play
        |  Listen (00:00)
      span.right {{i.date | relativeDate}}
    textarea.content.msd-elastic(ng-model="i.translationTemp")
    span.footer(ng-show="i.translationTemp != i.translation")
      a.button.left(href, ng-click="save(i)") Validate
      a.button.left(href, ng-click="i.translationTemp = i.translation") Discard
      a.button.right(href, ng-click="send(i)") Send to doctor

//- 0346a5f00af7bf","translation":"","__v":0,"date":"2015-11-06T15:55:40.692Z
