#nav
  input.search(type="text", placeholder="Search...", ng-model="search.$")

ul#translations(ng-repeat='i in translations | filter: search')
  li(ng-init="i.translationTemp = i.translation", ng-class="{ 'validated': i.validated }")
    span.header
      a(href, ng-click="play(i)")
        i.fa.fa-play
        |  Listen (00:00)
      span.right
        | {{i.date | relativeDate}} | 
        a(href, ng-click="delete(i)")
          i.fa.fa-trash
    textarea.content.msd-elastic(ng-model="i.translationTemp", spellcheck="false", ng-selection="{{i.start}},{{i.end}}")
    span.animated.fadeIn.footer(ng-show="i.translationTemp != i.translation")
      a.button.left(href, ng-click="save(i)")
        i.fa.fa-check
        |  Validate
      a.button.left(href, ng-click="i.translationTemp = i.translation")
        i.fa.fa-times
        |  Discard
      a.button.right(href, ng-click="send(i)")
        i.fa.fa-print
        |  Send
