template(name="home")
  +header
  .container
    table
      tr
        th Status
        th Created
        th Content
        th Actions
      +if isEmpty .
        tr.placeholder
          td(colspan="5", style="padding: 150px; text-align: center;")
            i.mdi.mdi-emoticon-happy(style="font-size: 5em; margin-bottom: 20px; display: block;")
            h3 Good job!
            | There are no new documents to be validated
      +each .
        tr(data-id="{{_id}}")
          td
            +if validated
              span.label.label-valid
                i.mdi.mdi-check
                | Validated
            +else
              span.label.label-pending
                i.mdi.mdi-clock
                | Pending
          td {{formatDate createdAt}}
          td
            span.content
              i(class="{{icon title}}")
              | {{translation}}
          td
            a.label.label-tag(href="/edit/{{_id}}") Edit
            a.label.label-tag.delete(href="#", data-id="{{_id}}") Delete
