template(name="home")
  +header
  .container
    table
      tr
        th Status
        th Created
        th Content
        th Actions
      +if isEmpty .
        tr
          td(colspan="5", style="padding: 50px; text-align: center;")
            i.mdi.mdi-file-document-box(style="font-size: 2.5em;")
            br
            | Nothing here
      +each .
        tr(data-id="{{_id}}")
          td
            +if validated
              span.label.label-valid
                i.mdi.mdi-check
                | Validated
            +else
              span.label.label-pending
                i.mdi.mdi-clock
                | Pending
          td {{formatDate createdAt}}
          td
            span.content
              i(class="{{icon title}}")
              | {{translation}}
          td
            a.label.label-tag(href="/edit/{{_id}}") Edit
            a.label.label-tag.delete(href="#", data-id="{{_id}}") Delete
