template(name="home")
  +header
  .container
    table
      tr
        th Status
        th Title
        th Created
        th Content
        th Actions
      +each .
        tr(data-id="{{_id}}")
          td
            +if validated
              span.label.label-valid
                i.mdi.mdi-check
                | Validated
            +else
              span.label.label-pending
                i.mdi.mdi-clock
                | Pending
          td {{title}}
          td {{formatDate createdAt}}
          td
            span.content {{translation}}
          td
            a.label.label-tag(href="/edit/{{_id}}") Edit
            a.label.label-tag.delete(href="#", data-id="{{_id}}") Delete
